* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto 0 auto;
}

#main {
  background-position: center;
  height: 550px;
  background-image: url(imags/haikei.png);
  background-size: 370px;
  background-repeat: no-repeat;
}

#sabu {
  background-position: center;
  height: 550px;
  background-size: 370px;
  background-repeat: no-repeat;
}

.btn {
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 180px;
  left: 100px;
}

.btn img {
  margin: 0;
}

#return {
  position: relative;
  top: 0;
  left: 230px;
  padding: 0;
}

#return img{
  width: 30px;
  height: 30px;
}