* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto 0 auto;
}

main {
  background-position: center;
  height: 550px;
  background-image: url(imags/haikei.png);
  background-size: 370px;
  background-repeat: no-repeat;
}

.s1 {
  text-align: center;
}

#mida {
  color:white;
  font-size: 40px;
  background-color: rgba(50, 248, 50, 0.748);
}

#setu {
  color: rgb(245, 184, 28);
  font-size: 20px;
}

.s2 {
  text-align: center;
}

.s3 {
  margin-top: 30px;
  text-align: center;
}

button {
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 180px;
}

button img {
  margin: 0;
}
